@import url('https://fonts.googleapis.com/css?family=Roboto');



.container {
  position: relative;
  height: 500px;
  width: 400px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-out;
}

.container:hover {
  box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

.img-container {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.img-container:hover {
  cursor: pointer;
}

.container:hover .img-container {
  transform: translateY(-200px);
}

.img-container > img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.container:hover > .img-container > img {
  opacity: 0.5;
}

.social-media {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.social-media > li {
  list-style: none;
}

.social-media > li > a {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #FFF;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}

.container:hover > .social-media > li > a {
  transform: translateY(0);
  opacity: 1;
}

.social-media > li > a > .fa {
  font-size: 24px;
  line-height: 50px;
  transition: transform 0.3s ease-out;
}

.social-media > li > a:hover > .fa {
  transform: rotateY(360deg);
}

.container:hover .social-media li:nth-child(1) a {
  transition-delay: 0s;
}

.container:hover .social-media li:nth-child(2) a {
  transition-delay: 0.1s;
}

.container:hover .social-media li:nth-child(3) a {
  transition-delay: 0.2s;
}

.container:hover .social-media li:nth-child(4) a {
  transition-delay: 0.3s;
}

.container:hover .social-media li:nth-child(5) a {
  transition-delay: 0.4s;
}

.user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center
}

.user-info > h2 {
  padding: 0;
  margin: 10px 0;
}

.user-info > span {
  color: #262626;
  font-size: 16px;
}


footer{
    background-color: black;
}

.probtn{
  border-radius: 3px;
 
}

.probtn:hover{
  background-color: #000;
  color:white;
  padding:4px;
}
@font-face {
  font-family: 'Befont';
  src: url('./fonts/magics-flavor.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.friendrequest{
  font-family: 'Befont', sans-serif;
  margin: 15px;
  border-radius: 30px;
  background-color: rgb(47, 149, 194);
  border:2px solid black;
  width:85%;
  padding:10px

  

}

body{
  
background: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(220, 228, 228) 48%, rgb(255, 255, 255) 100%);

}

.heading{
  font-family: 'Befont', sans-serif;
  margin: 15px;
  border-radius: 30px;
  width:85%;
  padding:10px;
  font-size: 20px;
}

.accept{
  background-color: rgb(8, 117, 8);
  border-radius: 25px;
}

.remove{
  background-color: rgb(175, 52, 10);
  border-radius: 25px;
}




.edit{
  background-color: rgb(48, 86, 191);
  border:2px solid black;
  border-radius: 10px;
}

.add{
  background-color: rgb(82, 12, 117);
  border:2px solid black;
  border-radius: 10px;
  color:white
}





.propic{
  border-radius:50%;
  height:75%;
  width:15%

}

.requestsuser{
  font-family: 'Befont', sans-serif;
  font-size: 45px;
}

.lists{
  font-size:25px;
  border:2px solid black;
  margin:3px;
  padding:5px;
  border-radius: 20px;
  width:80%;
  background-color: rgb(194, 139, 51);
}



.custom-input {
  border: 2px solid #ccc;       
  border-radius: 10px;            
  padding: 10px;                  
  width: 100%;                  
  box-sizing: border-box;        
  font-size: 16px;                
}

.custom-input:focus {
  border-color: #007bff;          /* Border color when focused */
  outline: none;                  /* Remove default outline */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: add shadow on focus */
}



.planforms{
  background: rgb(98, 189, 246);
}

.profileforms{
  background: rgb(129, 46, 118);
}

#profilecard{
   

  padding:25px
  


}

.logoclass{
  height: 18%;
  width:18%;
  margin-left: 20px;
}


.fa{
  justify-content: center;
  align-items: center;
  
}



.nolist{
  font-family: 'Befont', sans-serif;
}



  .chatbtn {
    background-color: #0b0e03; /* Base color of the button */
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.chatbtn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(93, 89, 89, 0.3);
    transform: rotate(45deg);
    opacity: 0.7;
    pointer-events: none;
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.chatbtn:hover {
    background-color: #40c2be; /* Darker shade on hover */
    transform: scale(1.05);
}


.wrapper{margin:10vh}


.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 overflow:hidden;
 border-radius:20px;
 min-height:450px;
   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

 @media (max-width: 768px) {
  min-height:350px;
}

@media (max-width: 420px) {
  min-height:300px;
}

 &.card-has-bg{
 transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size:120%;
  background-repeat:no-repeat;
  background-position: center center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: inherit; */
    /* -webkit-filter: grayscale(1); */
  /* -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(00%); */
}

  &:hover {
    transform: scale(0.98);
     box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:130%;
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      background: rgb(230, 162, 232);
     background: linear-gradient(0deg, rgba(241, 153, 242, 0.5) 0%, rgb(186, 126, 224) 100%);
     }
  }
}
 .card-footer{
  background: none;
   border-top: none;
    .media{
     img{
       border:solid 3px rgba(255,255,255,0.3);
     }
   }
 }
  .card-title{font-weight:800}
 .card-meta{
  
  color:rgba(0,0,0,0.3);
  text-transform:uppercase;
   font-weight:500;
   letter-spacing:2px;}
 .card-body{ 
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 

  }
 &:hover {
   .card-body{
     margin-top:30px;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   }
 cursor: pointer;
 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
 background: rgb(255,186,33);
background: linear-gradient(0deg, rgba(144, 199, 205, 0.379) 0%, rgb(72, 158, 224) 100%);
}
}
.texter{
  font-size: 25px;
}