body{
    background-image: url("https://res.cloudinary.com/dk2vgd0dv/image/upload/v1723566992/samples/landscapes/nature-mountains.jpg");
     background-position: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width:110vw;
    margin-right:10vw
}



.logoclass{
    width:3vw;
    height: 4vw;
}

.images{
   height: 150vw;
   box-shadow: 2px 2px 2px 2px;
}

.custom-input {
    border: 2px solid #ccc;       
    border-radius: 10px;            
    padding: 10px;                  
    width: 100%;                  
    box-sizing: border-box;        
    font-size: 16px;                
}

.custom-input:focus {
    border-color: #007bff;          /* Border color when focused */
    outline: none;                  /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: add shadow on focus */
}



.bgcolor{
    background:linear-gradient(#f8f8f9,#ae4ce0a4,#310348a4);
    border-radius: 20px;
}
.highlight {
  /* background-color: #0b0b0b;  */
  color: #faf9f9; /* Optional: set the text color */
  padding: 2px 4px; /* Optional: add some padding */
  border-radius: 3px;
  font-weight: bold; 
}

/* background:linear-gradient(#f8f8f9,rgb(90, 156, 236),#005a9b65); */


      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
      
      .footers{
        background-color: #18151f;
    }

    .submit-btn{

      background-color: #0a090a;
      padding:4px;
      color:white;
      border-radius: 1px;

      
    }

    .submit-btn:hover{
      background-color:black;
      
    }


footer{
    background-color: black;
}

.signupcard{
    height:40% ;
    width:50%;
    margin-left:30vw;
    border-radius: 30px;
}
.carder {
  background-image: url("https://res.cloudinary.com/dk2vgd0dv/image/upload/v1725094299/ctr89shnuycevunqufem.jpg");
  background-size: cover; /* Make the background cover the entire card */
  background-position: center; /* Center the background image */
  height: 100%; /* Use a relative height */
  border-radius: 20px; /* Simplified border-radius */
  z-index: 1000;
  margin-top: 10px;
 
}

.carimage{
  opacity: 0.5;
}

.card{
  background-color:  #C0CFF0;
}

.carimage{
border-radius: 50%;
margin-top: -250px;
margin-right: -500px;
height: 30%;
width: 30%;

}

.logoclass{
  height: 20%;
  width:15%;
  margin-left: 20px;
}